*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    background: url(./img/Rectangle\ 2.png);
}
.nav{
    display: flex;
    background-color: rgba(0, 91, 193, 60%);
    align-items: center;
}
.nav__logo{
    margin-right: 555px;
    margin-left: 40px;
    margin-top: 11px;
    margin-bottom: 11px;
}
.nav__navigation{
    display: flex;
    list-style-type: none;
}
.navigation__item{
    margin-left: 26px;
}
.navigation__item:first-child{
    margin-left: 0;
}
.navigation__link{
    color: white;
}