@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(./fonts/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Oswald-Regular';
    src: url(./fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'OpenSans-SemiBold';
}

.wrapper{
    width: 1110px;
    margin: auto;
}

.header{
    background: url(./img/Rectangle\ 2.png);
}
.nav{
    display: flex;
    background-color: rgba(0, 91, 193, 60%);
    align-items: center;
}
.nav__logo{
    margin-right: 555px;
    margin-left: 40px;
    margin-top: 11px;
    margin-bottom: 6px;
}
.nav__navigation{
    display: flex;
    list-style-type: none;
}
.navigation__item{
    margin-left: 26px;
}
.navigation__item:first-child{
    margin-left: 0;
}
.navigation__link{
    color: white;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
}

.head{
    position: relative;
}
.header__back{
    background-color: rgba(0, 91, 193, 60%);
    width: 444px;
    height: 720px;
}
.header__content{
    position: absolute;
    top: 202px;
    left: 190px;
    z-index: 3;
}
.content__title{
    font-family: 'Oswald-Regular';
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
}
.content__text{
    font-family: 'OpenSans-Regular';
    color: white;
    margin-bottom: 40px;
}
a.button {
    display: inline-block;
    border: 2px solid white;
    color: white;
    padding: 15px;
    font-size: 16px;
    padding-right: 40px;
    padding-left: 40px;
    height: 51px;
    width: 160px;
  }