@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(./fonts/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Oswald-Regular';
    src: url(./fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'OpenSans-Light';
    src: url(./fonts/OpenSans-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'OpenSans-SemiBold';
}
.wrapper{
    width: 1110px;
    margin: auto;
}

.header{
    background-color: rgba(0, 91, 193, 0.6);
    margin-bottom: -80px;
    position: relative;
    z-index: 2;
}
.nav{
    display: flex;
    align-items: center;
}
.nav__logo{
    margin-left: 40px;
    margin-top: 11px;
    margin-bottom: 6px;
}
.nav__navigation{
    display: flex;
    list-style-type: none;
    margin: auto;
    padding-right: 160px;
}
.navigation__item{
    margin-left: 26px;
}
.navigation__item:first-child{
    margin-left: 0;
}
.navigation__link{
    color: white;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
}

.wrapper__head{
    display: flex;
}
.firstscreen{
    background: url(./img/Rectangle\ 2.png);
    padding-top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.header__back{
    background-color: rgba(0, 91, 193, 60%);
    width: 444px;
    height: 720px;
}
.header__content{
    margin-top: 230px;
    margin-left: -256px;
}
.content__title{
    font-family: 'Oswald-Regular';
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 100;
}
.content__text{
    font-family: 'OpenSans-Regular';
    color: white;
    margin-bottom: 40px;
}
a.button {
    display: inline-block;
    border: 2px solid white;
    color: white;
    padding: 15px;
    font-size: 16px;
    padding-right: 40px;
    padding-left: 40px;
    height: 51px;
    width: 160px;
}

.wrapper__slider{
    margin-top: 150px;
}
.slider__project{
    display: flex;
}
.borders{
    margin-right: 40px;
    margin-top: 18px;
}
.border{
    border-top: 3px solid #005BC1;
    width: 100px;
    margin-bottom: 13px;
}
.border__bottom{
    border-top: 3px solid #005BC1;
    width: 50px;
    margin-left: 50px;
}
.main__title{
    font-family: 'Oswald-Regular';
    font-size: 30px;
    font-weight: 100;
    margin-right: 660px;
    margin-top: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.project__buttons{
    display: flex;
    margin-bottom: 65px;
}
.button__slider{
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
}
.button_b{
    border-left: 1px;
}
.arrow {
    width: 13px;
    height: 13px;
    border-top: 2px solid #005BC1;
    border-right: 2px solid #005BC1;;
    margin-top: 20px;
    margin-left: 20px;
}
.arrow {transform: rotate(-135deg);}  
.arrow__right{
    margin-right: 24px;
    transform: rotate(45deg); 
}
.slider__img{
    display: flex;
}
.img__link:first-child{
    margin-right: 30px;
}
.img__link{
    position: relative;
    height: 400px;
}
.img__slide{
    position: absolute;
    width: 250px;
    height: 110px;
    background-color: white;
    bottom: 35px;
    right: 35px;
    z-index: 2;
    padding: 20px;
    padding-left: 25px;
}
.slide__title{
    font-family: 'Oswald-Regular';
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
}
.slide__text{
    font-family: 'OpenSans-Light';
    font-size: 14px;
    color: black;
}

.wrapper__catalog{
    margin-top: 150px;
}
.catalog__title{
    display: flex;
    margin-bottom: 70px;
}
.catalog__nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 50px;
}
.catalog__links{
    font-family: 'Oswald-Regular';
    font-size: 24px;
    color: black;
    letter-spacing: 1px;
}
.link_a{
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
    margin-right: 47px;
}
.catalog__imgs{
    display: flex;
}
.catalog__link_cards{
    position: relative;
    margin-right: 30px;
    height: 300px;
}
.catalog__link_cards:last-child{
    margin-right: 0px;
}
.cards__text{
    position: absolute;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
    right: 0px;
    bottom: 15px;
    z-index: 2;
}
.text__card{
    font-family: 'Oswald-Regular';
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    padding-left: 21px;
    padding-top: 30px;
}
.text__card_a{
    padding-top: 15px;
}

.wrapper__rent{
    margin-top: 150px;
}
.rent__title{
    display: flex;
    margin-bottom: 40px;
}
.rent__content{
    display: flex;
}
.rent__text{
    width: 350px;
    height: 175px;
    margin-top: 110px;
    margin-right: 95px;
}
.text{
    font-family: 'OpenSans-Light';
    font-size: 18px;
}
.rent__card{
    border: 3px solid #005BC1;
    width: 665px;
    height: 394px;
    padding: 30px;
}
.rent__card_title{
    display: flex;
    margin-bottom: 29px;
}
.card__title_text{
    text-transform: uppercase;
    font-family: 'Oswald-Regular';
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 12px;
    margin-right: 56px;
}
.card__title_buttons{
    display: flex;
}
.button__rent{
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
}
.button_second{
    border-left: 1px;
}
.rent__card_content{
    display: flex;
}


.rent__card_list{
    margin-left: 30px;
}
.card__list_title{
    text-transform: uppercase;
    font-family: 'Oswald-Regular';
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.card__list{
    height: 152px;
    width: 320px;
    padding-right: 30px;
    list-style-position: inside;
}
.card__item_rent{
    font-family: 'OpenSans-Light';
    font-size: 14px;
    margin-bottom: 20px;
    
}
.card__item_rent:last-child{
    margin-bottom: 0px;
}

.news__title{
    display: flex;
}